.contact {
    
    &__title {
        margin-bottom: 1.2rem;
    }
    &__input {
        font-size: 1.2rem;
        padding: 0.7rem 0.5rem;
        width: 100%;
        margin-bottom: 2rem;
        background-color: rgb(247, 242, 242);
    }
    &__input:last-child {
        margin-bottom: 0;
    }
    label {
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
    }
    textarea {
        height: 330px;
        resize: none;
    }
}